.photos {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 126px;
  transition: height 250ms ease-in-out;
}

.photos__list {
  padding: 8px 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  list-style: none;
  padding-right: 10px;
  align-items: flex-end;
  /*transition: height 250ms ease-in-out;*/
}

.photo {
  height: 100px;
  background: rgba(0,0,0,0.1);
  width: 100px;
  list-style: none;
  float: left;
  opacity: 0.75;
  padding: 10px;

  background: white;
  transition:
    height 250ms ease-in-out,
    width 250ms ease-in-out;
}

.photo:hover {
  opacity: 1;
}

.photo img {
  height: 100%;
  width: 100%;
}

.photo:empty {
  display: none;
}

.photos--focussed {
  height: 326px;
  transition: height 250ms ease-in-out;
}

.photos--focussed .photos__list {
  /*height: 303px;*/
}

.photo--focussed {
  height: 300px;
  width: 300px;
  opacity: 1;
}

.photo--focussed::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(125, 199, 186);
  border-radius: 50%;
  bottom: 70vh;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 400ms ease-in-out;
}

.photo--focussed::before {
  content: "";
  background: rgb(125, 199, 186);
  width: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -320px);
  height: 0;
  transition: height 700ms ease-in-out;
}

.photo--highlighted::before {
  height: calc(70vh - 320px);
}

.photo--highlighted::after {
  transform: translateX(-50%) scale(1);
}